## Dataframe

In [1]:
!pip install pandas==1.5.3

Requirement already satisfied: pandas==1.5.3 in /home/nunesfi/Desktop/IA/env_ia/lib/python3.10/site-packages (1.5.3)
Requirement already satisfied: pytz>=2020.1 in /home/nunesfi/Desktop/IA/env_ia/lib/python3.10/site-packages (from pandas==1.5.3) (2023.3.post1)
Requirement already satisfied: numpy>=1.21.0 in /home/nunesfi/Desktop/IA/env_ia/lib/python3.10/site-packages (from pandas==1.5.3) (1.26.1)
Requirement already satisfied: python-dateutil>=2.8.1 in /home/nunesfi/Desktop/IA/env_ia/lib/python3.10/site-packages (from pandas==1.5.3) (2.8.2)
Requirement already satisfied: six>=1.5 in /home/nunesfi/Desktop/IA/env_ia/lib/python3.10/site-packages (from python-dateutil>=2.8.1->pandas==1.5.3) (1.16.0)

In [2]:
import pandas as pd
import numpy as np
print(pd.__version__)
print(np.__version__)

1.5.3
1.26.1

In [3]:
data = [["Alice", 25, "São Paulo"],
        ["João", 30, "Rio de Janeiro"],
        ["Bruno", 35, "Curitiba"],
        ["Carlos", 40, "Manaus"]]

In [4]:
type(data)

list

In [5]:
colunas = ["Nome", "Idade", "Cidade"]

In [6]:
df = pd.DataFrame(data, columns=colunas)
df

     Nome  Idade          Cidade
0   Alice     25       São Paulo
1    João     30  Rio de Janeiro
2   Bruno     35        Curitiba
3  Carlos     40          Manaus

In [7]:
df = pd.DataFrame(data)
df

        0   1               2
0   Alice  25       São Paulo
1    João  30  Rio de Janeiro
2   Bruno  35        Curitiba
3  Carlos  40          Manaus

## Exploração de dataframes

In [8]:
dataset = pd.read_csv('/home/nunesfi/Desktop/IA/files/census.csv')

In [9]:
dataset

,age,workclass,final-weight,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loos,hour-per-week,native-country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [10]:
dataset.columns

Index(['age', 'workclass', 'final-weight', 'education', 'education-num',
       'marital-status', 'occupation', 'relationship', 'race', 'sex',
       'capital-gain', 'capital-loos', 'hour-per-week', 'native-country',
       'income'],
      dtype='object')

In [11]:
dataset.axes

[RangeIndex(start=0, stop=32561, step=1),
 Index(['age', 'workclass', 'final-weight', 'education', 'education-num',
        'marital-status', 'occupation', 'relationship', 'race', 'sex',
        'capital-gain', 'capital-loos', 'hour-per-week', 'native-country',
        'income'],
       dtype='object')]

In [12]:
dataset.dtypes

age                int64
workclass         object
final-weight       int64
education         object
education-num      int64
marital-status    object
occupation        object
relationship      object
race              object
sex               object
capital-gain       int64
capital-loos       int64
hour-per-week      int64
native-country    object
income            object
dtype: object

In [13]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32561 non-null  int64
 1   workclass       32561 non-null  object
 2   final-weight    32561 non-null  int64
 3   education       32561 non-null  object
 4   education-num   32561 non-null  int64
 5   marital-status  32561 non-null  object
 6   occupation      32561 non-null  object
 7   relationship    32561 non-null  object
 8   race            32561 non-null  object
 9   sex             32561 non-null  object
 10  capital-gain    32561 non-null  int64
 11  capital-loos    32561 non-null  int64
 12  hour-per-week   32561 non-null  int64
 13  native-country  32561 non-null  object
 14  income          32561 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

In [14]:
#dados estátisticos
dataset.describe()

,age,final-weight,education-num,capital-gain,capital-loos,hour-per-week
count,32561.000000,3.256100e+04,32561.000000,32561.000000,32561.000000,32561.000000
mean,38.581647,1.897784e+05,10.080679,1077.648844,87.303830,40.437456
std,13.640433,1.055500e+05,2.572720,7385.292085,402.960219,12.347429
min,17.000000,1.228500e+04,1.000000,0.000000,0.000000,1.000000
25%,28.000000,1.178270e+05,9.000000,0.000000,0.000000,40.000000
50%,37.000000,1.783560e+05,10.000000,0.000000,0.000000,40.000000
75%,48.000000,2.370510e+05,12.000000,0.000000,0.000000,45.000000
max,90.000000,1.484705e+06,16.000000,99999.000000,4356.000000,99.000000

In [15]:
dataset.age.mean()

38.58164675532078

In [16]:
dataset.age.iloc[0:4]

0    39
1    50
2    38
3    53
Name: age, dtype: int64

In [17]:
dataset.iloc[0:4,0:4] #linha, coluna

   age          workclass  final-weight   education
0   39          State-gov         77516   Bachelors
1   50   Self-emp-not-inc         83311   Bachelors
2   38            Private        215646     HS-grad
3   53            Private        234721        11th

In [18]:
dataset.iloc[0:4,[0,3,5]]

   age   education       marital-status
0   39   Bachelors        Never-married
1   50   Bachelors   Married-civ-spouse
2   38     HS-grad             Divorced
3   53        11th   Married-civ-spouse

In [19]:

dataset.loc[:,["age","workclass"]]

       age          workclass
0       39          State-gov
1       50   Self-emp-not-inc
2       38            Private
3       53            Private
4       28            Private
...    ...                ...
32556   27            Private
32557   40            Private
32558   58            Private
32559   22            Private
32560   52       Self-emp-inc

[32561 rows x 2 columns]

In [20]:
dataset.loc[0:5, "age":"workclass" ]

   age          workclass
0   39          State-gov
1   50   Self-emp-not-inc
2   38            Private
3   53            Private
4   28            Private
5   37            Private

In [21]:
dataset.drop("education", axis=1) # 0 - linhas, 1 - colunas, não apaga em definito

,age,workclass,final-weight,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loos,hour-per-week,native-country,income
0,39,State-gov,77516,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [22]:
# Apagar em definitivo
dataset.drop("final-weight", axis=1, inplace = True)

In [23]:
dataset

,age,workclass,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loos,hour-per-week,native-country,income
0,39,State-gov,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [24]:
dataset.drop([0], axis=0)

,age,workclass,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loos,hour-per-week,native-country,income
1,50,Self-emp-not-inc,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
5,37,Private,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [25]:
dataset.drop([0], axis=0, inplace= True)

In [26]:
dataset

,age,workclass,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loos,hour-per-week,native-country,income
1,50,Self-emp-not-inc,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
5,37,Private,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [27]:
# resetar os indices
dataset.reset_index(drop=True, inplace= True)

In [28]:
dataset

,age,workclass,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loos,hour-per-week,native-country,income
0,50,Self-emp-not-inc,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
1,38,Private,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
2,53,Private,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
3,28,Private,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
4,37,Private,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32555,27,Private,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32556,40,Private,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32557,58,Private,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32558,22,Private,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32559,52,Self-emp-inc,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [29]:
dataset.duplicated()

0        False
1        False
2        False
3        False
4        False
         ...
32555    False
32556     True
32557    False
32558     True
32559    False
Length: 32560, dtype: bool

In [30]:
dataset.duplicated().sum()

3465

In [31]:
dataset.iloc[[32556, 32558]]

,age,workclass,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loos,hour-per-week,native-country,income
32556,40,Private,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,22,Private,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K

In [32]:
dataset.drop_duplicates()

,age,workclass,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loos,hour-per-week,native-country,income
0,50,Self-emp-not-inc,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
1,38,Private,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
2,53,Private,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
3,28,Private,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
4,37,Private,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32553,53,Private,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,40,United-States,>50K
32554,22,Private,Some-college,10,Never-married,Protective-serv,Not-in-family,White,Male,0,0,40,United-States,<=50K
32555,27,Private,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,58,Private,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,52,Self-emp-inc,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [33]:
# valores duplicados em colunas
dataset.duplicated(subset="age").sum()

32487

In [34]:
# Caso queria apagar varios dados duplicados e deixar somente o ultimo sem deletar
dataset.drop_duplicates(subset= "age", keep= "last", ignore_index=True)

,age,workclass,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loos,hour-per-week,native-country,income
0,88,Private,Some-college,10,Divorced,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
1,86,Private,Masters,14,Never-married,Adm-clerical,Not-in-family,White,Female,0,0,40,United-States,<=50K
2,77,Private,HS-grad,9,Widowed,Adm-clerical,Not-in-family,White,Female,0,0,10,United-States,<=50K
3,83,Self-emp-inc,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,2392,55,United-States,>50K
4,76,Self-emp-not-inc,7th-8th,4,Never-married,Farming-fishing,Not-in-family,White,Male,0,0,30,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
68,27,Private,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
69,40,Private,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
70,58,Private,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
71,22,Private,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
72,52,Self-emp-inc,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

## Valores faltantes

In [35]:
dataset.loc[dataset["workclass"].str.contains("\?")]

,age,workclass,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loos,hour-per-week,native-country,income
26,54,?,Some-college,10,Married-civ-spouse,?,Husband,Asian-Pac-Islander,Male,0,0,60,South,>50K
60,32,?,7th-8th,4,Married-spouse-absent,?,Not-in-family,White,Male,0,0,40,?,<=50K
68,25,?,Some-college,10,Never-married,?,Own-child,White,Male,0,0,40,United-States,<=50K
76,67,?,10th,6,Married-civ-spouse,?,Husband,White,Male,0,0,2,United-States,<=50K
105,17,?,10th,6,Never-married,?,Own-child,White,Female,34095,0,32,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32529,35,?,Bachelors,13,Married-civ-spouse,?,Wife,White,Female,0,0,55,United-States,>50K
32530,30,?,Bachelors,13,Never-married,?,Not-in-family,Asian-Pac-Islander,Female,0,0,99,United-States,<=50K
32538,71,?,Doctorate,16,Married-civ-spouse,?,Husband,White,Male,0,0,10,United-States,>50K
32540,41,?,HS-grad,9,Separated,?,Not-in-family,Black,Female,0,0,32,United-States,<=50K
32541,72,?,HS-grad,9,Married-civ-spouse,?,Husband,White,Male,0,0,25,United-States,<=50K

In [36]:
dataset["workclass"].str.contains("\?").sum()

1836

In [37]:
colunas_categoricas = ["workclass", "education","marital-status", "occupation", "race", "sex", "native-country"]

for coluna in colunas_categoricas:
    #print(coluna)
    tem_interrogacao = dataset[coluna].str.contains("\?").any()
    if tem_interrogacao:
        print(f"Na coluna '{coluna}' existem valores'?'")

Na coluna 'workclass' existem valores'?'
Na coluna 'occupation' existem valores'?'
Na coluna 'native-country' existem valores'?'

In [38]:
for coluna in colunas_categoricas:
    dataset[coluna] = dataset[coluna].replace(' ?', np.nan)

In [39]:
dataset.isna().sum()

age                  0
workclass         1836
education            0
education-num        0
marital-status       0
occupation        1843
relationship         0
race                 0
sex                  0
capital-gain         0
capital-loos         0
hour-per-week        0
native-country     583
income               0
dtype: int64

In [40]:
dataset.fillna('NOT INFORMED').iloc[0:30]

,age,workclass,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loos,hour-per-week,native-country,income
0,50,Self-emp-not-inc,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
1,38,Private,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
2,53,Private,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
3,28,Private,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
4,37,Private,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K
5,49,Private,9th,5,Married-spouse-absent,Other-service,Not-in-family,Black,Female,0,0,16,Jamaica,<=50K
6,52,Self-emp-not-inc,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,45,United-States,>50K
7,31,Private,Masters,14,Never-married,Prof-specialty,Not-in-family,White,Female,14084,0,50,United-States,>50K
8,42,Private,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,5178,0,40,United-States,>50K
9,37,Private,Some-college,10,Married-civ-spouse,Exec-managerial,Husband,Black,Male,0,0,80,United-States,>50K
10,30,State-gov,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0,0,40,India,>50K
11,23,Private,Bachelors,13,Never-married,Adm-clerical,Own-child,White,Female,0,0,30,United-States,<=50K
12,32,Private,Assoc-acdm,12,Never-married,Sales,Not-in-family,Black,Male,0,0,50,United-States,<=50K
13,40,Private,Assoc-voc,11,Married-civ-spouse,Craft-repair,Husband,Asian-Pac-Islander,Male,0,0,40,NOT INFORMED,>50K
14,34,Private,7th-8th,4,Married-civ-spouse,Transport-moving,Husband,Amer-Indian-Eskimo,Male,0,0,45,Mexico,<=50K
15,25,Self-emp-not-inc,HS-grad,9,Never-married,Farming-fishing,Own-child,White,Male,0,0,35,United-States,<=50K
16,32,Private,HS-grad,9,Never-married,Machine-op-inspct,Unmarried,White,Male,0,0,40,United-States,<=50K
17,38,Private,11th,7,Married-civ-spouse,Sales,Husband,White,Male,0,0,50,United-States,<=50K
18,43,Self-emp-not-inc,Masters,14,Divorced,Exec-managerial,Unmarried,White,Female,0,0,45,United-States,>50K
19,40,Private,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,60,United-States,>50K
20,54,Private,HS-grad,9,Separated,Other-service,Unmarried,Black,Female,0,0,20,United-States,<=50K
21,35,Federal-gov,9th,5,Married-civ-spouse,Farming-fishing,Husband,Black,Male,0,0,40,United-States,<=50K
22,43,Private,11th,7,Married-civ-spouse,Transport-moving,Husband,White,Male,0,2042,40,United-States,<=50K
23,59,Private,HS-grad,9,Divorced,Tech-support,Unmarried,White,Female,0,0,40,United-States,<=50K
24,56,Local-gov,Bachelors,13,Married-civ-spouse,Tech-support,Husband,White,Male,0,0,40,United-States,>50K
25,19,Private,HS-grad,9,Never-married,Craft-repair,Own-child,White,Male,0,0,40,United-States,<=50K
26,54,NOT INFORMED,Some-college,10,Married-civ-spouse,NOT INFORMED,Husband,Asian-Pac-Islander,Male,0,0,60,South,>50K
27,39,Private,HS-grad,9,Divorced,Exec-managerial,Not-in-family,White,Male,0,0,80,United-States,<=50K
28,49,Private,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,United-States,<=50K
29,23,Local-gov,Assoc-acdm,12,Never-married,Protective-serv,Not-in-family,White,Male,0,0,52,United-States,<=50K

In [41]:
dataset["workclass"].fillna(dataset["workclass"].mode().iloc[0], inplace=True)

In [42]:
dataset["occupation"].fillna(dataset["occupation"].mode().iloc[0], inplace=True)

In [43]:
dataset["native-country"].fillna(dataset["native-country"].mode().iloc[0], inplace=True)

In [44]:
dataset.isna().sum()

age               0
workclass         0
education         0
education-num     0
marital-status    0
occupation        0
relationship      0
race              0
sex               0
capital-gain      0
capital-loos      0
hour-per-week     0
native-country    0
income            0
dtype: int64

## Contagem

In [45]:
for coluna in dataset.columns:
    if dataset[coluna].dtype == object:
        print('-------', coluna, '-----------')
        print(dataset[coluna].value_counts(normalize=True))
        print()

------- workclass -----------
 Private             0.753440
 Self-emp-not-inc    0.078041
 Local-gov           0.064281
 State-gov           0.039834
 Self-emp-inc        0.034275
 Federal-gov         0.029484
 Without-pay         0.000430
 Never-worked        0.000215
Name: workclass, dtype: float64

------- education -----------
 HS-grad         0.322512
 Some-college    0.223925
 Bachelors       0.164435
 Masters         0.052918
 Assoc-voc       0.042445
 11th            0.036087
 Assoc-acdm      0.032770
 10th            0.028655
 7th-8th         0.019840
 Prof-school     0.017690
 9th             0.015786
 12th            0.013299
 Doctorate       0.012684
 5th-6th         0.010227
 1st-4th         0.005160
 Preschool       0.001566
Name: education, dtype: float64

------- marital-status -----------
 Married-civ-spouse       0.459951
 Never-married            0.328071
 Divorced                 0.136456
 Separated                0.031480
 Widowed                  0.030498
 Married-spouse-absent    0.012838
 Married-AF-spouse        0.000706
Name: marital-status, dtype: float64

------- occupation -----------
 Prof-specialty       0.183753
 Craft-repair         0.125891
 Exec-managerial      0.124877
 Adm-clerical         0.115756
 Sales                0.112101
 Other-service        0.101198
 Machine-op-inspct    0.061486
 Transport-moving     0.049048
 Handlers-cleaners    0.042076
 Farming-fishing      0.030528
 Tech-support         0.028501
 Protective-serv      0.019932
 Priv-house-serv      0.004576
 Armed-Forces         0.000276
Name: occupation, dtype: float64

------- relationship -----------
 Husband           0.405190
 Not-in-family     0.255037
 Own-child         0.155651
 Unmarried         0.105835
 Wife              0.048157
 Other-relative    0.030129
Name: relationship, dtype: float64

------- race -----------
 White                 0.854269
 Black                 0.095946
 Asian-Pac-Islander    0.031910
 Amer-Indian-Eskimo    0.009552
 Other                 0.008323
Name: race, dtype: float64

------- sex -----------
 Male      0.669195
 Female    0.330805
Name: sex, dtype: float64

------- native-country -----------
 United-States                 0.913759
 Mexico                        0.019748
 Philippines                   0.006081
 Germany                       0.004208
 Canada                        0.003716
 Puerto-Rico                   0.003501
 El-Salvador                   0.003256
 India                         0.003071
 Cuba                          0.002918
 England                       0.002764
 Jamaica                       0.002488
 South                         0.002457
 China                         0.002303
 Italy                         0.002242
 Dominican-Republic            0.002150
 Vietnam                       0.002058
 Guatemala                     0.001966
 Japan                         0.001904
 Poland                        0.001843
 Columbia                      0.001812
 Taiwan                        0.001566
 Haiti                         0.001351
 Iran                          0.001321
 Portugal                      0.001136
 Nicaragua                     0.001044
 Peru                          0.000952
 France                        0.000891
 Greece                        0.000891
 Ecuador                       0.000860
 Ireland                       0.000737
 Hong                          0.000614
 Cambodia                      0.000584
 Trinadad&Tobago               0.000584
 Laos                          0.000553
 Thailand                      0.000553
 Yugoslavia                    0.000491
 Outlying-US(Guam-USVI-etc)    0.000430
 Honduras                      0.000399
 Hungary                       0.000399
 Scotland                      0.000369
 Holand-Netherlands            0.000031
Name: native-country, dtype: float64

------- income -----------
 <=50K    0.759183
 >50K     0.240817
Name: income, dtype: float64

## Ordenação

In [46]:
dataset.sort_index(ascending=False)

,age,workclass,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loos,hour-per-week,native-country,income
32559,52,Self-emp-inc,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K
32558,22,Private,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32557,58,Private,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32556,40,Private,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32555,27,Private,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4,37,Private,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K
3,28,Private,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
2,53,Private,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
1,38,Private,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
0,50,Self-emp-not-inc,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K

In [47]:
#Ordenação por colunas
dataset.sort_values(["age", "workclass", "education-num"], ascending=[False, True, True])

,age,workclass,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loos,hour-per-week,native-country,income
28462,90,Federal-gov,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,30,United-States,<=50K
32366,90,Local-gov,7th-8th,4,Married-civ-spouse,Protective-serv,Husband,White,Male,2653,0,40,United-States,<=50K
18724,90,Local-gov,HS-grad,9,Married-civ-spouse,Other-service,Husband,White,Male,6767,0,40,United-States,<=50K
14158,90,Local-gov,Assoc-acdm,12,Married-civ-spouse,Adm-clerical,Husband,Asian-Pac-Islander,Male,0,0,20,Philippines,<=50K
5369,90,Local-gov,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,20051,0,60,United-States,>50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
671,17,Self-emp-not-inc,11th,7,Never-married,Farming-fishing,Own-child,White,Male,0,0,10,United-States,<=50K
12360,17,Self-emp-not-inc,11th,7,Never-married,Farming-fishing,Own-child,White,Male,0,0,20,United-States,<=50K
26089,17,Self-emp-not-inc,12th,8,Never-married,Handlers-cleaners,Own-child,White,Male,0,0,15,United-States,<=50K
8093,17,State-gov,10th,6,Never-married,Farming-fishing,Own-child,White,Male,0,0,40,United-States,<=50K
14093,17,State-gov,10th,6,Never-married,Other-service,Own-child,White,Male,0,0,30,United-States,<=50K

In [48]:
dataset.reset_index(drop=True, inplace=True)

In [49]:
dataset

,age,workclass,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loos,hour-per-week,native-country,income
0,50,Self-emp-not-inc,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
1,38,Private,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
2,53,Private,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
3,28,Private,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
4,37,Private,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32555,27,Private,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32556,40,Private,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32557,58,Private,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32558,22,Private,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32559,52,Self-emp-inc,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

## Filtragem

In [50]:
dataset.loc[dataset.education == " Bachelors", ["age", "workclass", "education-num"]]

       age          workclass  education-num
0       50   Self-emp-not-inc             13
3       28            Private             13
8       42            Private             13
10      30          State-gov             13
11      23            Private             13
...    ...                ...            ...
32529   35            Private             13
32530   30            Private             13
32532   54            Private             13
32535   34            Private             13
32537   38            Private             13

[5354 rows x 3 columns]

In [51]:
dataset.loc[(dataset["education-num"] == 6) & (dataset["marital-status"] == " Never-married")]

,age,workclass,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loos,hour-per-week,native-country,income
105,17,Private,10th,6,Never-married,Prof-specialty,Own-child,White,Female,34095,0,32,United-States,<=50K
218,25,Private,10th,6,Never-married,Craft-repair,Not-in-family,White,Male,0,0,40,United-States,<=50K
423,33,Private,10th,6,Never-married,Craft-repair,Unmarried,White,Female,0,0,35,United-States,<=50K
477,27,Private,10th,6,Never-married,Other-service,Not-in-family,White,Male,0,0,40,United-States,<=50K
608,17,Private,10th,6,Never-married,Other-service,Own-child,White,Female,0,0,21,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31903,55,Private,10th,6,Never-married,Other-service,Not-in-family,White,Male,0,0,40,United-States,<=50K
31953,34,Private,10th,6,Never-married,Other-service,Unmarried,Black,Female,0,0,40,Jamaica,<=50K
32169,41,Private,10th,6,Never-married,Machine-op-inspct,Not-in-family,White,Male,0,0,40,United-States,<=50K
32446,17,Private,10th,6,Never-married,Other-service,Own-child,White,Male,0,0,20,United-States,<=50K
32504,33,Private,10th,6,Never-married,Adm-clerical,Not-in-family,Black,Male,0,0,40,United-States,<=50K

In [52]:
# query
dataset.query("'education-num' == 6 and 'marital-status' == ' Never-married'")

TypeError: argument of type 'int' is not iterable

In [ ]:
dataset.query("age == 35 and workclass == ' Private'")

,age,workclass,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loos,hour-per-week,native-country,income
56,35,Private,Assoc-voc,11,Married-civ-spouse,Other-service,Husband,White,Male,0,0,40,Puerto-Rico,<=50K
127,35,Private,HS-grad,9,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,40,United-States,<=50K
197,35,Private,Masters,14,Married-civ-spouse,Prof-specialty,Other-relative,White,Male,7298,0,40,United-States,>50K
206,35,Private,HS-grad,9,Divorced,Craft-repair,Not-in-family,White,Male,0,0,60,United-States,<=50K
211,35,Private,Some-college,10,Never-married,Sales,Not-in-family,Amer-Indian-Eskimo,Female,0,0,40,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32356,35,Private,Some-college,10,Divorced,Adm-clerical,Unmarried,White,Female,0,0,55,United-States,<=50K
32403,35,Private,HS-grad,9,Divorced,Other-service,Not-in-family,White,Female,0,0,40,United-States,<=50K
32423,35,Private,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,45,United-States,<=50K
32475,35,Private,12th,8,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,84,United-States,<=50K
32529,35,Private,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,White,Female,0,0,55,United-States,>50K

In [ ]:
dataset.query("age > 35 and workclass == ' Private'").loc[:,"capital-gain"].sum()

16127142

## Renomear e reordenar

In [ ]:
dataset.columns = [coluna.upper() for coluna in dataset.columns]

In [ ]:
dataset.columns

Index(['AGE', 'WORKCLASS', 'EDUCATION', 'EDUCATION-NUM', 'MARITAL-STATUS',
       'OCCUPATION', 'RELATIONSHIP', 'RACE', 'SEX', 'CAPITAL-GAIN',
       'CAPITAL-LOOS', 'HOUR-PER-WEEK', 'NATIVE-COUNTRY', 'INCOME'],
      dtype='object')

In [ ]:
dataset.columns = [coluna.lower() for coluna in dataset.columns]

In [ ]:
dataset.columns

Index(['age', 'workclass', 'education', 'education-num', 'marital-status',
       'occupation', 'relationship', 'race', 'sex', 'capital-gain',
       'capital-loos', 'hour-per-week', 'native-country', 'income'],
      dtype='object')

In [ ]:
dataset.rename(columns={"age": "idade", "workclass": "trabalho"}, inplace=True)
dataset.columns

Index(['idade', 'trabalho', 'education', 'education-num', 'marital-status',
       'occupation', 'relationship', 'race', 'sex', 'capital-gain',
       'capital-loos', 'hour-per-week', 'native-country', 'income'],
      dtype='object')

In [ ]:
dataset.rename(columns={"idade": "age", "trabalho": "workclass"}, inplace=True)
dataset.columns

Index(['age', 'workclass', 'education', 'education-num', 'marital-status',
       'occupation', 'relationship', 'race', 'sex', 'capital-gain',
       'capital-loos', 'hour-per-week', 'native-country', 'income'],
      dtype='object')

In [ ]:
#alterar ordem das colunas
#dataset = dataset.reindex(labels=['age', 'workclass', 'education', 'education-num', 'marital-status',
#       'occupation', 'relationship', 'race', 'sex', 'capital-gain',
#       'capital-loos', 'hour-per-week', 'native-country', 'income'], axis= 1)

## Criação de Colunas

In [ ]:
dataset['hour-per-month'] = dataset['hour-per-week'] * 4

In [ ]:
dataset.head()

,age,workclass,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loos,hour-per-week,native-country,income,hour-per-month
0,50,Self-emp-not-inc,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K,52
1,38,Private,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K,160
2,53,Private,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K,160
3,28,Private,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K,160
4,37,Private,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K,160

In [ ]:
dataset["high-education-level"] = dataset["education-num"] > 11

In [ ]:
dataset.head()

,age,workclass,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loos,hour-per-week,native-country,income,hour-per-month,high-education-level
0,50,Self-emp-not-inc,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K,52,True
1,38,Private,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K,160,False
2,53,Private,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K,160,False
3,28,Private,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K,160,True
4,37,Private,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K,160,True

In [ ]:
#mapeamento entre os valores
dicionario_map = {" <=50K": "Low", " >50K": "High"}

In [ ]:
dataset["category-income"] = dataset['income'].map(dicionario_map)
dataset

,age,workclass,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loos,hour-per-week,native-country,income,hour-per-month,high-education-level,category-income
0,50,Self-emp-not-inc,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K,52,True,Low
1,38,Private,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K,160,False,Low
2,53,Private,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K,160,False,Low
3,28,Private,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K,160,True,Low
4,37,Private,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K,160,True,Low
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32555,27,Private,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K,152,True,Low
32556,40,Private,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K,160,False,High
32557,58,Private,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K,160,False,Low
32558,22,Private,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K,80,False,Low
32559,52,Self-emp-inc,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K,160,False,High

In [ ]:
#criando colunas com lambda
dataset["capital-gain-usd"] = dataset["capital-gain"].map(lambda x: f"USD {x}")
dataset

,age,workclass,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loos,hour-per-week,native-country,income,hour-per-month,high-education-level,category-income,capital-gain-usd
0,50,Self-emp-not-inc,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K,52,True,Low,USD 0
1,38,Private,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K,160,False,Low,USD 0
2,53,Private,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K,160,False,Low,USD 0
3,28,Private,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K,160,True,Low,USD 0
4,37,Private,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K,160,True,Low,USD 0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32555,27,Private,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K,152,True,Low,USD 0
32556,40,Private,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K,160,False,High,USD 0
32557,58,Private,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K,160,False,Low,USD 0
32558,22,Private,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K,80,False,Low,USD 0
32559,52,Self-emp-inc,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K,160,False,High,USD 15024

In [ ]:
from datetime import datetime

In [ ]:
dataset = dataset.assign(birth = datetime.now().year - dataset['age'],
                        hardwork = dataset['hour-per-week'] > 40)

In [ ]:
dataset

,age,workclass,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loos,hour-per-week,native-country,income,hour-per-month,high-education-level,category-income,capital-gain-usd,birth,hardwork
0,50,Self-emp-not-inc,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K,52,True,Low,USD 0,1974,False
1,38,Private,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K,160,False,Low,USD 0,1986,False
2,53,Private,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K,160,False,Low,USD 0,1971,False
3,28,Private,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K,160,True,Low,USD 0,1996,False
4,37,Private,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K,160,True,Low,USD 0,1987,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32555,27,Private,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K,152,True,Low,USD 0,1997,False
32556,40,Private,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K,160,False,High,USD 0,1984,False
32557,58,Private,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K,160,False,Low,USD 0,1966,False
32558,22,Private,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K,80,False,Low,USD 0,2002,False
32559,52,Self-emp-inc,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K,160,False,High,USD 15024,1972,False

In [ ]:
dataset.loc[dataset['hardwork']]

,age,workclass,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loos,hour-per-week,native-country,income,hour-per-month,high-education-level,category-income,capital-gain-usd,birth,hardwork
6,52,Self-emp-not-inc,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,45,United-States,>50K,180,False,High,USD 0,1972,True
7,31,Private,Masters,14,Never-married,Prof-specialty,Not-in-family,White,Female,14084,0,50,United-States,>50K,200,True,High,USD 14084,1993,True
9,37,Private,Some-college,10,Married-civ-spouse,Exec-managerial,Husband,Black,Male,0,0,80,United-States,>50K,320,False,High,USD 0,1987,True
12,32,Private,Assoc-acdm,12,Never-married,Sales,Not-in-family,Black,Male,0,0,50,United-States,<=50K,200,True,Low,USD 0,1992,True
14,34,Private,7th-8th,4,Married-civ-spouse,Transport-moving,Husband,Amer-Indian-Eskimo,Male,0,0,45,Mexico,<=50K,180,False,Low,USD 0,1990,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32537,38,Private,Bachelors,13,Divorced,Prof-specialty,Unmarried,Black,Female,15020,0,45,United-States,>50K,180,True,High,USD 15020,1986,True
32542,45,Local-gov,Assoc-acdm,12,Divorced,Prof-specialty,Unmarried,White,Female,0,0,48,United-States,<=50K,192,True,Low,USD 0,1979,True
32547,65,Self-emp-not-inc,Prof-school,15,Never-married,Prof-specialty,Not-in-family,White,Male,1086,0,60,United-States,<=50K,240,True,Low,USD 1086,1959,True
32549,43,Self-emp-not-inc,Some-college,10,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,50,United-States,<=50K,200,False,Low,USD 0,1981,True
32551,43,Private,Assoc-voc,11,Married-civ-spouse,Sales,Husband,White,Male,0,0,45,United-States,<=50K,180,False,Low,USD 0,1981,True

In [53]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32560 entries, 0 to 32559
Data columns (total 14 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32560 non-null  int64
 1   workclass       32560 non-null  object
 2   education       32560 non-null  object
 3   education-num   32560 non-null  int64
 4   marital-status  32560 non-null  object
 5   occupation      32560 non-null  object
 6   relationship    32560 non-null  object
 7   race            32560 non-null  object
 8   sex             32560 non-null  object
 9   capital-gain    32560 non-null  int64
 10  capital-loos    32560 non-null  int64
 11  hour-per-week   32560 non-null  int64
 12  native-country  32560 non-null  object
 13  income          32560 non-null  object
dtypes: int64(5), object(9)
memory usage: 3.5+ MB

In [54]:
dataset = dataset.astype({'native-country':"category"})

In [55]:
dataset

,age,workclass,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loos,hour-per-week,native-country,income
0,50,Self-emp-not-inc,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
1,38,Private,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
2,53,Private,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
3,28,Private,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
4,37,Private,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32555,27,Private,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32556,40,Private,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32557,58,Private,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32558,22,Private,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32559,52,Self-emp-inc,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

## Agregação

In [56]:
dataset.loc[:, ["hour-per-week", "age"]].sum()

hour-per-week    1316644
age              1256218
dtype: int64

In [57]:
dataset.loc[:, ["hour-per-week", "age"]].mean()

hour-per-week    40.437469
age              38.581634
dtype: float64

In [59]:
dataset.loc[:, ["hour-per-week", "age"]].mean().round(2)

hour-per-week    40.44
age              38.58
dtype: float64

## Agrupamento

In [60]:
dataset["workclass"].unique()

array([' Self-emp-not-inc', ' Private', ' State-gov', ' Federal-gov',
       ' Local-gov', ' Self-emp-inc', ' Without-pay', ' Never-worked'],
      dtype=object)

In [64]:
## utilizar o groupby + a coluna categórica + a coluna numérica + ordenar os valores
dataset.groupby("workclass")["hour-per-week"].mean().sort_values()

workclass
 Never-worked        28.428571
 Without-pay         32.714286
 State-gov           39.030840
 Private             39.642345
 Local-gov           40.982800
 Federal-gov         41.379167
 Self-emp-not-inc    44.421881
 Self-emp-inc        48.818100
Name: hour-per-week, dtype: float64

In [65]:
group = dataset.groupby("workclass")["hour-per-week"].mean().sort_values()

In [70]:
dataset.groupby("income")["education-num"].mean().sort_values().round(2).sort_values(ascending=False)

income
 >50K     11.61
 <=50K     9.59
Name: education-num, dtype: float64

In [74]:
group = dataset.groupby(["income", "workclass"])["hour-per-week"].mean().sort_index()
group

income  workclass
 <=50K   Federal-gov         40.093379
         Local-gov           39.739837
         Never-worked        28.428571
         Private             38.176334
         Self-emp-inc        47.135628
         Self-emp-not-inc    43.517336
         State-gov           37.102754
         Without-pay         32.714286
 >50K    Federal-gov         43.420485
         Local-gov           43.956240
         Private             45.154249
         Self-emp-inc        50.154341
         Self-emp-not-inc    46.691989
         State-gov           44.186969
Name: hour-per-week, dtype: float64

In [76]:
group.loc[(" <=50K", " Federal-gov"):(" <=50K", " Private")]

income  workclass
 <=50K   Federal-gov     40.093379
         Local-gov       39.739837
         Never-worked    28.428571
         Private         38.176334
Name: hour-per-week, dtype: float64

In [78]:
group.loc[" <=50K",][" Federal-gov":" Never-worked"]

workclass
 Federal-gov     40.093379
 Local-gov       39.739837
 Never-worked    28.428571
Name: hour-per-week, dtype: float64

In [82]:
group = dataset.groupby(["income", "workclass"], as_index=False)['hour-per-week'].mean().sort_index()
group

    income          workclass  hour-per-week
0    <=50K        Federal-gov      40.093379
1    <=50K          Local-gov      39.739837
2    <=50K       Never-worked      28.428571
3    <=50K            Private      38.176334
4    <=50K       Self-emp-inc      47.135628
5    <=50K   Self-emp-not-inc      43.517336
6    <=50K          State-gov      37.102754
7    <=50K        Without-pay      32.714286
8     >50K        Federal-gov      43.420485
9     >50K          Local-gov      43.956240
10    >50K            Private      45.154249
11    >50K       Self-emp-inc      50.154341
12    >50K   Self-emp-not-inc      46.691989
13    >50K          State-gov      44.186969

In [85]:
group.query("workclass == ' Federal-gov'")

   income     workclass  hour-per-week
0   <=50K   Federal-gov      40.093379
8    >50K   Federal-gov      43.420485

## Agrupamento com agregação

In [88]:
dataset.groupby(["income", "workclass"]).agg("mean", numeric_only=True)

                                age  education-num  capital-gain  \
income workclass
 <=50K  Federal-gov       40.624788      10.483871    173.207131
        Local-gov         40.704607      10.580623    169.179539
        Never-worked      20.571429       7.428571      0.000000
        Private           35.465270       9.410362    139.300289
        Self-emp-inc      43.206478      10.198381    177.941296
        Self-emp-not-inc  44.388553       9.697854    220.794717
        State-gov         37.277542      10.797669    135.573093
        Without-pay       47.785714       9.071429    487.857143
 >50K   Federal-gov       45.711590      11.752022   1881.088949
        Local-gov         44.254457      12.145867   2581.126418
        Private           43.289678      11.423749   3608.149593
        Self-emp-inc      48.249196      11.882637   8606.705788
        Self-emp-not-inc  46.428177      11.552486   6065.330110
        State-gov         45.209632      12.917847   2211.475921

                          capital-loos  hour-per-week
income workclass
 <=50K  Federal-gov          91.278438      40.093379
        Local-gov            79.185637      39.739837
        Never-worked          0.000000      28.428571
        Private              49.772990      38.176334
        Self-emp-inc         54.368421      47.135628
        Self-emp-not-inc     62.629609      43.517336
        State-gov            40.143008      37.102754
        Without-pay           0.000000      32.714286
 >50K   Federal-gov         145.592992      43.420485
        Local-gov           183.220421      43.956240
        Private             186.832169      45.154249
        Self-emp-inc        235.172026      50.154341
        Self-emp-not-inc    252.158840      46.691989
        State-gov           198.787535      44.186969

In [91]:
dataset.groupby(["income", "workclass"]).agg({"age": ["mean", "std"],
                                            "hour-per-week": ["min", "max"]})

                                age            hour-per-week
                               mean        std           min max
income workclass
 <=50K  Federal-gov       40.624788  12.342207             4  99
        Local-gov         40.704607  13.212608             2  99
        Never-worked      20.571429   4.613644             4  40
        Private           35.465270  13.846155             1  99
        Self-emp-inc      43.206478  13.664700             1  99
        Self-emp-not-inc  44.388553  13.985118             1  99
        State-gov         37.277542  12.589332             4  99
        Without-pay       47.785714  21.075610            10  65
 >50K   Federal-gov       45.711590   9.237137             6  80
        Local-gov         44.254457   9.198836             7  99
        Private           43.289678  10.411153             1  99
        Self-emp-inc      48.249196  11.109786            10  99
        Self-emp-not-inc  46.428177  11.435626             2  99
        State-gov         45.209632   9.943661             1  80

In [92]:
dataset.groupby(["income", "workclass"]).agg(age_mean = ("age","mean"),
                                            age_std = ("age", "std"),
                                            horas_min_trabalhadas = ("hour-per-week", "min"),
                                            horas_max_trabalhadas = ("hour-per-week", "max"))

                           age_mean    age_std  horas_min_trabalhadas  \
income workclass
 <=50K  Federal-gov       40.624788  12.342207                      4
        Local-gov         40.704607  13.212608                      2
        Never-worked      20.571429   4.613644                      4
        Private           35.465270  13.846155                      1
        Self-emp-inc      43.206478  13.664700                      1
        Self-emp-not-inc  44.388553  13.985118                      1
        State-gov         37.277542  12.589332                      4
        Without-pay       47.785714  21.075610                     10
 >50K   Federal-gov       45.711590   9.237137                      6
        Local-gov         44.254457   9.198836                      7
        Private           43.289678  10.411153                      1
        Self-emp-inc      48.249196  11.109786                     10
        Self-emp-not-inc  46.428177  11.435626                      2
        State-gov         45.209632   9.943661                      1

                          horas_max_trabalhadas
income workclass
 <=50K  Federal-gov                          99
        Local-gov                            99
        Never-worked                         40
        Private                              99
        Self-emp-inc                         99
        Self-emp-not-inc                     99
        State-gov                            99
        Without-pay                          65
 >50K   Federal-gov                          80
        Local-gov                            99
        Private                              99
        Self-emp-inc                         99
        Self-emp-not-inc                     99
        State-gov                            80

## Agregação com transform

In [93]:
group = dataset.groupby(["workclass"], as_index=False)["hour-per-week"].mean().sort_index()
group

           workclass  hour-per-week
0        Federal-gov      41.379167
1          Local-gov      40.982800
2       Never-worked      28.428571
3            Private      39.642345
4       Self-emp-inc      48.818100
5   Self-emp-not-inc      44.421881
6          State-gov      39.030840
7        Without-pay      32.714286

In [95]:
## criação de uma coluna em um dataframe já agregado
group.assign(avg_age = dataset.groupby(["workclass"])["age"].transform("mean"),
            avg_education = dataset.groupby(["workclass"])["education-num"].transform("mean"))

           workclass  hour-per-week    avg_age  avg_education
0        Federal-gov      41.379167  44.969697      10.226289
1          Local-gov      40.982800  37.109123       9.833361
2       Never-worked      28.428571  37.109123       9.833361
3            Private      39.642345  37.109123       9.833361
4       Self-emp-inc      48.818100  37.109123       9.833361
5   Self-emp-not-inc      44.421881  37.109123       9.833361
6          State-gov      39.030840  44.969697      10.226289
7        Without-pay      32.714286  37.109123       9.833361

## Tabelas Pivot

In [98]:
dataset.pivot_table(index= "income",
                    columns= "workclass",
                    values= "age",
                    aggfunc= "mean",
                    margins=True)

workclass,Federal-gov,Local-gov,Never-worked,Private,Self-emp-inc,Self-emp-not-inc,State-gov,Without-pay,All
income,,,,,,,,,
<=50K,40.624788,40.704607,20.571429,35.465270,43.206478,44.388553,37.277542,47.785714,36.783648
>50K,45.711590,44.254457,NaN,43.289678,48.249196,46.428177,45.209632,NaN,44.249841
All,42.590625,41.751075,20.571429,37.109123,46.017025,44.969697,39.436392,47.785714,38.581634

In [99]:
dataset.pivot_table(index= "marital-status",
                    columns= "income",
                    values= "education-num",
                    aggfunc= "mean",
                    margins=True)

income                     <=50K       >50K        All
marital-status
 Divorced               9.815075  11.881210  10.030385
 Married-AF-spouse      9.538462  11.000000  10.173913
 Married-civ-spouse     9.347055  11.525852  10.320646
 Married-spouse-absent  9.062500  12.088235   9.308612
 Never-married          9.838485  12.529532   9.962179
 Separated              9.095933  12.166667   9.293659
 Widowed                8.910793  11.047059   9.093656
All                     9.594927  11.611657  10.080590

In [101]:
dataset.pivot_table(index= "marital-status",
                    columns= "income",
                    values= "education-num",
                    aggfunc= ("mean", "max", "min"),)

                          max            mean               min
income                  <=50K  >50K     <=50K       >50K  <=50K  >50K
marital-status
 Divorced                  16    16  9.815075  11.881210      1     5
 Married-AF-spouse         12    13  9.538462  11.000000      9     9
 Married-civ-spouse        16    16  9.347055  11.525852      1     2
 Married-spouse-absent     16    16  9.062500  12.088235      1     4
 Never-married             16    16  9.838485  12.529532      1     3
 Separated                 16    16  9.095933  12.166667      1     6
 Widowed                   16    16  8.910793  11.047059      1     4

In [105]:
dataset.pivot_table(index= "marital-status",
                    columns= "income",
                    values= "education-num",
                    aggfunc= ("mean","max")).style.background_gradient(cmap= "Blues")

## Concatenação

In [107]:
data = {"idvenda": [123,374,654,345],
        'data': ["2024-01-19", '2024-01-20', '2024-01-21','2024-01-21'],
        'idvendedor': [1, np.nan,2,3],
        'valor_total': [45.76,102.34,56.34,34.21]}
df1 = pd.DataFrame.from_dict(data)
df1

   idvenda        data  idvendedor  valor_total
0      123  2024-01-19         1.0        45.76
1      374  2024-01-20         NaN       102.34
2      654  2024-01-21         2.0        56.34
3      345  2024-01-21         3.0        34.21

In [108]:
data = {"idvenda": [546,232,789,2345],
        'data': ["2024-01-22", '2024-01-22', '2024-01-23','2024-01-24'],
        'idvendedor': [3,2,1,2],
        'valor_total': [45.76,102.34,56.34,34.21]}
df2 = pd.DataFrame.from_dict(data)
df2

   idvenda        data  idvendedor  valor_total
0      546  2024-01-22           3        45.76
1      232  2024-01-22           2       102.34
2      789  2024-01-23           1        56.34
3     2345  2024-01-24           2        34.21

In [109]:
data_complete = pd.concat([df1,df2], ignore_index=True)
data_complete

   idvenda        data  idvendedor  valor_total
0      123  2024-01-19         1.0        45.76
1      374  2024-01-20         NaN       102.34
2      654  2024-01-21         2.0        56.34
3      345  2024-01-21         3.0        34.21
4      546  2024-01-22         3.0        45.76
5      232  2024-01-22         2.0       102.34
6      789  2024-01-23         1.0        56.34
7     2345  2024-01-24         2.0        34.21

## Junção

In [111]:
data = {"idvendedor": [1,2,3,4],
        "nome": ['Julia', 'Paulo', 'Jéssica', 'Marcos']}
df_vendedor = pd.DataFrame.from_dict(data)
df_vendedor

   idvendedor     nome
0           1    Julia
1           2    Paulo
2           3  Jéssica
3           4   Marcos

In [113]:
data_complete.merge(df_vendedor,
                    how="inner",
                    left_on=['idvendedor'],
                    right_on=['idvendedor'])

   idvenda        data  idvendedor  valor_total     nome
0      123  2024-01-19         1.0        45.76    Julia
1      789  2024-01-23         1.0        56.34    Julia
2      654  2024-01-21         2.0        56.34    Paulo
3      232  2024-01-22         2.0       102.34    Paulo
4     2345  2024-01-24         2.0        34.21    Paulo
5      345  2024-01-21         3.0        34.21  Jéssica
6      546  2024-01-22         3.0        45.76  Jéssica

In [121]:
data_complete = data_complete.merge(df_vendedor,
                    how="left",
                    left_on=['idvendedor'],
                    right_on=['idvendedor'])

In [122]:
data_complete.query("nome == 'Jéssica'")

   idvenda        data  idvendedor  valor_total     nome
3      345  2024-01-21         3.0        34.21  Jéssica
4      546  2024-01-22         3.0        45.76  Jéssica

## Conversão e formatações para data

In [123]:
df_vendas = data_complete.copy()

In [124]:
# Caso contenha dados que não estejam no formato de data "N/A, este comando pode retornar erro"
df_vendas = df_vendas.astype({"data":"datetime64"})

In [126]:
df_vendas.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8 entries, 0 to 7
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   idvenda      8 non-null      int64
 1   data         8 non-null      datetime64[ns]
 2   idvendedor   7 non-null      float64
 3   valor_total  8 non-null      float64
 4   nome         7 non-null      object
dtypes: datetime64[ns](1), float64(2), int64(1), object(1)
memory usage: 384.0+ bytes

In [127]:
# Para não retornar erro
df_vendas = df_vendas.assign(data = pd.to_datetime(df_vendas["data"],
                                                infer_datetime_format=True,
                                                errors="coerce")) #NaT

In [128]:
df_vendas

   idvenda       data  idvendedor  valor_total     nome
0      123 2024-01-19         1.0        45.76    Julia
1      374 2024-01-20         NaN       102.34      NaN
2      654 2024-01-21         2.0        56.34    Paulo
3      345 2024-01-21         3.0        34.21  Jéssica
4      546 2024-01-22         3.0        45.76  Jéssica
5      232 2024-01-22         2.0       102.34    Paulo
6      789 2024-01-23         1.0        56.34    Julia
7     2345 2024-01-24         2.0        34.21    Paulo

## Formatação data

In [131]:
df_vendas.assign(data2 = df_vendas["data"].dt.strftime("%Y-%b-%a"),
                data3 = df_vendas['data'].dt.strftime('%d-%m-%Y'))

,idvenda,data,idvendedor,valor_total,nome,data2,data3
0,123,2024-01-19,1.0,45.76,Julia,2024-Jan-Fri,19-01-2024
1,374,2024-01-20,NaN,102.34,NaN,2024-Jan-Sat,20-01-2024
2,654,2024-01-21,2.0,56.34,Paulo,2024-Jan-Sun,21-01-2024
3,345,2024-01-21,3.0,34.21,Jéssica,2024-Jan-Sun,21-01-2024
4,546,2024-01-22,3.0,45.76,Jéssica,2024-Jan-Mon,22-01-2024
5,232,2024-01-22,2.0,102.34,Paulo,2024-Jan-Mon,22-01-2024
6,789,2024-01-23,1.0,56.34,Julia,2024-Jan-Tue,23-01-2024
7,2345,2024-01-24,2.0,34.21,Paulo,2024-Jan-Wed,24-01-2024

In [132]:
df_vendas['data'].dt.year

0    2024
1    2024
2    2024
3    2024
4    2024
5    2024
6    2024
7    2024
Name: data, dtype: int64

In [133]:
df_vendas['data'].dt.month

0    1
1    1
2    1
3    1
4    1
5    1
6    1
7    1
Name: data, dtype: int64

In [134]:
df_vendas['data'].dt.day

0    19
1    20
2    21
3    21
4    22
5    22
6    23
7    24
Name: data, dtype: int64

## Indices com data

In [136]:
df_vendas2 = df_vendas.copy()

In [137]:
df_vendas2.set_index("data", inplace=True)
df_vendas2

            idvenda  idvendedor  valor_total     nome
data
2024-01-19      123         1.0        45.76    Julia
2024-01-20      374         NaN       102.34      NaN
2024-01-21      654         2.0        56.34    Paulo
2024-01-21      345         3.0        34.21  Jéssica
2024-01-22      546         3.0        45.76  Jéssica
2024-01-22      232         2.0       102.34    Paulo
2024-01-23      789         1.0        56.34    Julia
2024-01-24     2345         2.0        34.21    Paulo

In [139]:
df_vendas2.resample('M')['valor_total'].sum(numeric_only=True)

data
2024-01-31    477.3
Freq: M, Name: valor_total, dtype: float64

In [140]:
df_vendas2.resample('D')['valor_total'].sum(numeric_only=True)

data
2024-01-19     45.76
2024-01-20    102.34
2024-01-21     90.55
2024-01-22    148.10
2024-01-23     56.34
2024-01-24     34.21
Freq: D, Name: valor_total, dtype: float64

## Importação e exportação

In [141]:
dataset = pd.read_csv('/home/nunesfi/Desktop/IA/files/census.csv').head(5)
dataset

,age,workclass,final-weight,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loos,hour-per-week,native-country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [143]:
#Caso não desejar exibir o cabeçalho com os nomes das colunas
dataset = pd.read_csv('/home/nunesfi/Desktop/IA/files/census.csv', header=None).head(5)
dataset

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,age,workclass,final-weight,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loos,hour-per-week,native-country,income
1,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
2,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
3,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
4,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K

In [145]:
colunas = ["age","workclass","final-weight","education","education-num","marital-status","occupation","relationship","race","sex","capital-gain","capital-loos","hour-per-week","native-country	income"]
dataset = pd.read_csv('/home/nunesfi/Desktop/IA/files/census.csv', header=None, names=colunas).head(5)
dataset

,age,workclass,final-weight,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loos,hour-per-week,native-country\tincome
age,workclass,final-weight,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loos,hour-per-week,native-country,income
39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K

In [147]:
## carregar colunas específcas
dataset = pd.read_csv('/home/nunesfi/Desktop/IA/files/census.csv', usecols=["age", "workclass"]).head(5)
dataset

   age          workclass
0   39          State-gov
1   50   Self-emp-not-inc
2   38            Private
3   53            Private
4   28            Private

In [149]:
dataset = pd.read_csv('/home/nunesfi/Desktop/IA/files/census.csv', na_values=[" ?"])
dataset.isna().sum()

age                  0
workclass         1836
final-weight         0
education            0
education-num        0
marital-status       0
occupation        1843
relationship         0
race                 0
sex                  0
capital-gain         0
capital-loos         0
hour-per-week        0
native-country     583
income               0
dtype: int64

In [150]:
dataset = pd.read_csv('/home/nunesfi/Desktop/IA/files/census.csv', dtype=({"final-weight":"float"}))
dataset.dtypes

age                 int64
workclass          object
final-weight      float64
education          object
education-num       int64
marital-status     object
occupation         object
relationship       object
race               object
sex                object
capital-gain        int64
capital-loos        int64
hour-per-week       int64
native-country     object
income             object
dtype: object

In [152]:
dataset = pd.read_csv('/home/nunesfi/Desktop/IA/files/AirPassengers.csv', parse_dates=["Month"],
                        infer_datetime_format = True, index_col = "Month")
dataset

            #Passengers
Month
1949-01-01          112
1949-02-01          118
1949-03-01          132
1949-04-01          129
1949-05-01          121
...                 ...
1960-08-01          606
1960-09-01          508
1960-10-01          461
1960-11-01          390
1960-12-01          432

[144 rows x 1 columns]

In [158]:
moeda = lambda x: f"{x} USD"
dataset = pd.read_csv('/home/nunesfi/Desktop/IA/files/census.csv', converters = {"capital-gain": moeda})
dataset

,age,workclass,final-weight,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loos,hour-per-week,native-country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174 USD,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0 USD,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0 USD,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0 USD,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0 USD,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0 USD,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0 USD,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0 USD,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0 USD,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024 USD,0,40,United-States,>50K

In [160]:
dataset = pd.read_csv('/home/nunesfi/Desktop/IA/files/seeds_dataset.txt', sep="\t", header = None, names = ["a", "b", "c", "d", "e", "f", "g", "h"])
dataset

        a      b       c      d      e      f      g  h
0   15.26  14.84  0.8710  5.763  3.312  2.221  5.220  1
1   14.88  14.57  0.8811  5.554  3.333  1.018  4.956  1
2   14.29  14.09  0.9050  5.291  3.337  2.699  4.825  1
3   13.84  13.94  0.8955  5.324  3.379  2.259  4.805  1
4   16.14  14.99  0.9034  5.658  3.562  1.355  5.175  1
5   14.38  14.21  0.8951  5.386  3.312  2.462  4.956  1
6   16.63  15.46  0.8747  6.053  3.465  2.040  5.877  1
7   16.44  15.25  0.8880  5.884  3.505  1.969  5.533  1
8   15.26  14.85  0.8696  5.714  3.242  4.543  5.314  1
9   14.03  14.16  0.8796  5.438  3.201  1.717  5.001  1
10  13.89  14.02  0.8880  5.439  3.199  3.986  4.738  1
11  13.78  14.06  0.8759  5.479  3.156  3.136  4.872  1
12  13.74  14.05  0.8744  5.482  3.114  2.932  4.825  1

In [163]:
#Acessando abas de uma arquivo xlsx
dataset = pd.read_excel('/home/nunesfi/Desktop/IA/files/seeds.xlsx', sheet_name = "Planilha2")
dataset

    15.26  14.84   0.871  5763  3312     2221  5.22  1
0   13.74  14.05  0.8744  5482  3114  2932.00  4825  1
1   13.78  14.06  0.8759  5479  3156  3136.00  4872  1
2   13.89  14.02  0.8880  5439  3199  3986.00  4738  1
3   14.03  14.16  0.8796  5438  3201  1717.00  5001  1
4   15.26  14.85  0.8696  5714  3242  4543.00  5314  1
5   14.38  14.21  0.8951  5386  3312  2462.00  4956  1
6   14.88  14.57  0.8811  5554  3333  1018.00  4956  1
7   14.29  14.09  0.9050  5291  3337  2699.00  4825  1
8   13.84  13.94  0.8955  5324  3379  2259.00  4805  1
9   16.63  15.46  0.8747  6053  3465     2.04  5877  1
10  16.44  15.25  0.8880  5884  3505  1969.00  5533  1
11  16.14  14.99  0.9034  5658  3562  1355.00  5175  1

In [165]:
# Salvar os arquivos
dataset.to_csv('teste.csv', index = False)

In [166]:
#espeficar o nome da guia xlsx
dataset.to_excel('teste.xlsx', sheet_name = "testanto", index=False)