## Dataframe

In [1]:
!pip install pandas==1.5.3

Requirement already satisfied: pandas==1.5.3 in /home/nunesfi/Desktop/IA/env_ia/lib/python3.10/site-packages (1.5.3)
Requirement already satisfied: numpy>=1.21.0 in /home/nunesfi/Desktop/IA/env_ia/lib/python3.10/site-packages (from pandas==1.5.3) (1.26.1)
Requirement already satisfied: python-dateutil>=2.8.1 in /home/nunesfi/Desktop/IA/env_ia/lib/python3.10/site-packages (from pandas==1.5.3) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /home/nunesfi/Desktop/IA/env_ia/lib/python3.10/site-packages (from pandas==1.5.3) (2023.3.post1)
Requirement already satisfied: six>=1.5 in /home/nunesfi/Desktop/IA/env_ia/lib/python3.10/site-packages (from python-dateutil>=2.8.1->pandas==1.5.3) (1.16.0)

In [2]:
import pandas as pd
import numpy as np
print(pd.__version__)
print(np.__version__)

1.5.3
1.26.1

In [3]:
data = [["Alice", 25, "São Paulo"],
        ["João", 30, "Rio de Janeiro"],
        ["Bruno", 35, "Curitiba"],
        ["Carlos", 40, "Manaus"]]

In [4]:
type(data)

list

In [5]:
colunas = ["Nome", "Idade", "Cidade"]

In [7]:
df = pd.DataFrame(data, columns=colunas)
df

     Nome  Idade          Cidade
0   Alice     25       São Paulo
1    João     30  Rio de Janeiro
2   Bruno     35        Curitiba
3  Carlos     40          Manaus

In [8]:
df = pd.DataFrame(data)
df

        0   1               2
0   Alice  25       São Paulo
1    João  30  Rio de Janeiro
2   Bruno  35        Curitiba
3  Carlos  40          Manaus